/* .ContactView{
    
} */
.ContactView .noView{
    width:100%;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px grey;
    margin: 10px auto;
    height: calc(100vh - 110px);
    border-radius: 10px;
    background: #eee;
}